@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Marck+Script&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css");

body {
  font-family: "Iceberg", sans-serif;
  font-family: "Marck Script", cursive;
  margin: 0;
  padding: 0;
  background-color: #182c2d;
}

.principal {
  width: 100%;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #182c2d;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("./img/floral-background.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .barra {
    margin: 25px;
    display: flex;

    .barra-menu {
      width: 34rem;
      height: 5rem;
      background-color: #76a69c36;
      border-radius: 15px 0 0 15px;
      backdrop-filter: blur(3px);
      font-family: "Iceberg";
      color: #bee2d1;
      display: grid;
      grid-template-rows: 100px 1fr;

      .menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 22px;
        padding: 5px 0 30px 0;
      }
    }
    .barra-title {
      width: 46rem;
      height: 10rem;
      background-color: #76a69c36;
      border-radius: 0 15px 15px 15px;
      backdrop-filter: blur(3px);
      font-family: "Iceberg";

      .title {
        color: #bee2d1;
        text-align: center;
        font-size: 50px;
        font-family: "Marck Script";

        .big {
          font-size: 70px;
        }
      }
    }
  }

  .present {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .image-big {
      margin: 0 7rem;
      background-color: #2b4e4a;
      border-radius: 50%;
      width: 430px;
      height: 430px;
      position: relative;
      top: 40px;
      left: 40px;
      box-shadow: inset -10px -7px 10px 4px #f1f1f16b;

      &::before {
        content: "";
        background-image: url(./img/World-tree.jpg);
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        position: absolute;
      }
    }
    .introduction {
      padding: 3rem 4rem 0 0;
      font-family: "Iceberg";
      margin: 5rem 0;

      p {
        background-color: #2b4e4a80;
        backdrop-filter: blur(3px);
        box-shadow: inset -10px -7px 10px 4px #f1f1f16b;
        padding: 20px;
        font-size: 20px;
        border-radius: 15px;
        color: #bee2d1;
      }
    }
  }
}

.tipos {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;

  &::before {
    content: "";
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    height: 190%;
    background-image: url(./img/bag-2.png);
    background-size: cover;
    background-position: top;
    z-index: -1;
  }

  .contain {
    margin: 10rem 15rem;
    height: 100vh;
    position: relative;
    top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

    .boxInfo {
      background-color: #2b4e4a;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 7px;
      border-radius: 50px;
      margin: 40px 0;
      cursor: pointer;

      .two {
        margin-left: 1.5rem;
      }
      .three {
        margin-left: 0.5rem;
      }
      .four {
        margin-left: 0.1rem;
      }

      .fi {
        font-size: 40px;
        color: #bee2d1;
        margin: 0;
        width: 40px;
        height: 40px;
        transition: all 0.5s ease-in;
      }
      .activeFle {
        transform: rotateX(180deg);
      }

      .subtitle {
        font-size: 28px;
        color: #fff;
        font-family: "Iceberg";
      }

      .image {
        display: flex;
        justify-content: center;
        background-color: #bee2d1;
        border-radius: 50%;
        width: 250px;
        height: 100px;
        position: relative;

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          position: absolute;
          top: -10px;
        }
      }
    }
    .info {
      background-color: #bee2d1;
      margin: 0 3rem;
      padding: 5px 20px;
      border-radius: 15px 15px 30px 30px;
      position: relative;
      top: 0rem;
      display: none;

      .paragraphSub {
        text-align: center;
        font-family: "Iceberg";
        font-size: 18px;
      }
      .paragraph {
        text-align: left;
        font-family: "Iceberg";
        font-size: 16px;
      }
    }
    .activeInfo {
      display: block;
    }
  }
}

.gallery {
  position: relative;
  top: 45rem;
  width: 100%;

  .ruleta {
    position: absolute;
    left: 4rem;
    width: 76rem;
    z-index: -1;
  }

  .galeria {
    display: flex;
    justify-content: space-between;
    width: 79%;

    .fi-sr-triangle {
      font-size: 30px;
      color: #aa9f79;
      position: relative;
      top: 18rem;
      left: 8.8rem;
      transform: rotate(-91deg);
      width: 30px;
      height: 70px;
      cursor: pointer;
    }
    .fil {
      transform: rotate(91deg);
    }

    .imagenes {
      position: absolute;
      display: flex;
      left: 10.6rem;
      top: 10rem;
      overflow: hidden;
      width: 62rem;
      height: 30rem;
      padding: 0 10px;

      .carrusel {
        display: flex;
        flex-wrap: nowrap;
        transition: all 0.3s ease-in;

        .img {
          width: 165px;
          height: 280px;
          border: 3px #fff;
          margin: 13.5px;
          border-radius: 15px;
          border: 3px solid #aa9f79;
        }
      }
    }
  }
}

.final {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 70rem;
  display: grid;
  grid-template-rows: 100px 1fr;

  &::before {
    content: "";
    position: absolute;
    top: 17rem;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(./img/footer.png);
    background-size: cover;
    background-position: top;
    z-index: -1;
  }

  .hecho {
    height: 9rem;
    background-color: #76a69c36;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    position: relative;
    top: 20rem;
    margin: 40px 30px;
    text-align: center;
    line-height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #bee2d1;

    .name-page {
      font-family: "Marck Script";
      font-size: 2.8rem;
    }
    .name {
      font-family: "Iceberg";
      font-size: 1.2rem;
      margin-bottom: 20px;

      span {
        font-family: "open sans";
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 525px) {
  .principal {
    width: 80vh;

    &::before {
      width: 80vh;
    }

    .barra {
      flex-direction: column;

      .barra-menu {
        background-color: #2b4e4a7e;
        width: 26.5rem;
        border-radius: 15px 15px 0 0;
      }

      .barra-title {
        background-color: #2b4e4a7e;
        width: 26.5rem;
        border-radius: 0 0 15px 15px;
        .title {
          font-size: 30px;
          .big {
            font-size: 45px;
          }
        }
      }
    }
    .present {
      grid-template-columns: 1fr;

      .image-big {
        width: 290px;
        height: 290px;
        left: 0;
        top: 10rem;

        &::before {
          height: 260px;
          width: 260px;
          left: 0;
        }
      }

      .introduction {
        padding: 1rem 3rem;
        position: absolute;
        top: 30rem;

        p {
          font-size: 1rem;
        }
      }
    }
  }

  .tipos {
    width: 80%;

    &::before {
      width: 80%;
    }

    .contain {
      width: 70vh;
      margin: 10rem 1.5rem;

      .boxInfo {
        margin: 20px 0;

        .fi {
          font-size: 30px;
        }
        .subtitle {
          font-size: 20px;
        }
        .image {
          width: 85px;
          height: 85px;
          img {
            width: 85px;
            height: 85px;
            top: 0;
          }
        }
      }
      .info {
        .paragraphSub {
          font-size: 16px;
        }
        .paragraph {
          font-size: 13px;
        }
      }
    }
  }

  .gallery {
    top: 35rem;

    .ruleta {
      width: 28rem;
      margin: 1rem;
      left: 0;
    }
    .galeria {

      .fi-sr-triangle {
        font-size: 10px;
        top: 5.5rem;
        left: 3.8rem;
      }
      .fil {
        position: absolute;
        left: 24.5rem;
        top: 6.8rem;

      }
      .imagenes {
        width: 22rem;
        height: 20rem;
        left: 3.2rem;
        top: 5.3rem;

        .carrusel {
          .img {
            width: 56px;
            height: 85px;
            margin: 6px;
            border: 2px solid #aa9f79;
          }
        }
      }
    }
  }

  .final {
    width: 80vh;
    top: 30rem;

    &::before {
      width: 80vh;
    }
    .hecho {
      position: relative;
      width: 26rem;
      left: 0;
      top: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: stretch;
      height: 7rem;
    }
  }
}
